{% extends "shop/base.html" %}
{% load static %}
{% block title %} Ecommerce {% endblock %}
{% block content %}
	<style type="text/css">
		p.descrip { 
			/* Applying an ellipsis to multiline text */
			display: -webkit-box; 
			max-width: 100%;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical; 
			overflow: hidden;
		}
		p.tags {
			border-radius: 8px;
			border: 2px solid #73AD21;
			font-weight: bold; /* Making font bold */
		    width: auto; /* Making auto-sizable width */
		    height: auto; /* Making auto-sizable height */
		    padding: 5px; /* Making space around letters */
		    margin-right:10px;
		    display:inline;
		    float:left;
		}
		input[type="submit"]{
			/* make drop down input transparent */
		    background: #FFF;
		    border: none;
		}
		#order_icon {
			/* filter icon size */
		    color: #000;
			font-size: 1.5em;
		}
		a {
			/* link text */
			color: black;
			background-color: transparent;
			text-decoration: none;
		}
		a:hover {
			/* whent pointed at link text */
			color: black;
			background-color: transparent;
			text-decoration: underline;
		}
		.card:hover{
			transform: scale(1.02);
			box-shadow: 0 20px 20px rgba(0,0,0,.12), 0 8px 16px rgba(0,0,0,.06);
		}

	</style>

	{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">{{ message }}</div>
	{% endfor %}
	<div class="container">
		<form name='my_form' action='.' method='POST'>
			{% csrf_token %}
			<div class="dropdown" align="right">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background: whitesmoke;">
			    	<i class="bi bi-filter" id="order_icon"></i>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
					<a class="dropdown-item"><input type="submit" name="order" value="Order by name"></a>
					<a class="dropdown-item"><input type="submit" name="order" value="Order by price"></a>
				</ul>
			</div>
		</form>
		
			<div class="row">

			{% for b in products %}
				<div class="col-md-3 col-sm-8 d-flex align-items-stretch">
					<div class="card mt-4" style="width: 18rem;">
						<a href="{% url 'products-url' b.id %}">
							<img src="{{ b.picture }}" class="card-img-top" style="width: 100%; height: 200px;">
						</a>	
						<div class="card-heading" align="center">
							<a href="{% url 'products-url' b.id %}"><h3 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ b.name }}</h3></a>
							<h3>NT ${{ b.price }}</h3>
						</div>
						    <button data-product={{b.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart"><i class="bi bi-cart-plus" style="font-size: 1.5em; margin-right: 10px;"></i>Add to Cart</button>
					</div>
				</div>
			{% endfor %}
		</div>
		<br>
	</div>
{% endblock %}