{% extends "shop/base.html" %}
{% block title %} {{product.name}} {% endblock %}
{% block content %}

<style type="text/css">
	img.products_pic {  
		width: 450px;
		height: 300px;
		float: left;
		margin-right: 10px; 
  	} 
  	p.tags {
		border-radius: 8px;
		border: 2px solid #73AD21;
		font-weight: bold; /* Making font bold */
	    width: auto; /* Making auto-sizable width */
	    height: auto; /* Making auto-sizable height */
	    padding: 5px; /* Making space around letters */
	    margin-right:10px;
	    display:inline;
	    float:left;
	}
</style>

<div class="container">
	<br>
	<h2>{{ product.name }}</h2>
	<br>
	<div class="row">
		<div class="col-md-5">
			<img src="{{product.picture }}" class="products_pic">
		</div>	
		<div class="col-md-5">
			<div class="products_descrip">
				<p>{{ product.description }}</p>
				<br>
				<h4>
					Price: ${{ product.price }}              	
					<button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart" style="margin-left: 20px;"><i class="bi bi-cart-plus" style="font-size: 1.5em; margin-right: 10px;"></i>Add to Cart</button>
				</h4>
			</div>
			
		</div>
	</div>
	
	<br>
</div>

{% endblock %}