{% extends "shop/base.html" %}
{% load static %}
{% block title %} Shopping Cart {% endblock %}
{% block content %}
<style type="text/css">
	.cart-row{
		display: flex;
		align-items: flex-stretch;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #ececec;

	}
	.row-image{
		width: 100px;
	}
	.quantity{
		display: inline-block;
		font-weight: 700;
		padding-right: 10px;
	}
	.chg-quantity{
		width: 12px;
		cursor: pointer;
		display: block;

	}
</style>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:1"><strong>Order</strong></div>
					<div style="flex:1"><strong>Date</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
					<div style="flex:1"><strong>Payment</strong></div>
					<div style="flex:1"><strong>Status</strong></div>
				</div>
				{% for order in orders%}
				<div class="cart-row">
					<div style="flex:1">{{order.id}}</div>
					<div style="flex:1">{{order.date_ordered}}</div>
					<div style="flex:1">NT$ {{order.get_cart_total}}</div>
					{% if order.complete %}
						<div style="flex:1">Completed</div>
					{% else %}
						<div style="flex:1">Pending</div>
					{% endif %}
					<div style="flex:1">{{order.status}}</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</div>
</div>

{% endblock content %}